@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* min-width: fit-content; */
  height: 100vh;
  min-width: 100vw;
}

body {
  /* background: #110726; */
  background: #FEFBF8 ;
  /* background: #E1CDBB ; */
  overflow-x: hidden;
  min-width: 100vw;
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 10px;
  background: rgb(203, 202, 202);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.bg-button {
  background-color: #5E3023;
}
.bg-button:hover {
  background-color: #8A573A;
}
.bg-beige {
  background-color: #E1CDBB;
}
.bg-beige-hover {
  background-color: #E1CDBB;
}
.bg-hover {
  background-color: #8A573A;
}
.bg-brown {
  background-color: #5E3023;
}
.border-card {
  border: 3px solid#5E3023;
}
.border-small {
  border: 1px solid#5E3023;
}
.text-color {
  color: #5E3023;
}
.text-beige {
  color: #E1CDBB;
}
.text-button {
  color: #fff;
}
.bg-nav {
  background: #5E3023;
}

/* .bg-button {
  background-color: #e94f2c;
}
.bg-button:hover {
  background-color: #f77f64;
}
.border-card {
  border: 1px solid#f87871;
}
.text-color {
  color: #f87871;
}
.text-button {
  color: #fff;
} */
